<div class="RequestForm">
    <h2>Lista De cobros</h2>
</div>
<table class="table table-striped col-10">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha de ingreso</th>
            <th scope="col">Tipo de vehiculo</th>
            <th scope="col">Placa</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listaParqueados">
            <th scope="row">1</th>
            <th style="width: 65%">{{item.fechaIngreso}}</th>
            <td>{{item.vehiculo.tipoVehiculo}}</td>
            <td>{{item.vehiculo.placa}}</td>
            <td>{{item.vehiculo.marca}}</td>
            <td>{{item.vehiculo.modelo}}</td>
            <td><button class="btn btn-primary">Salida</button></td>
        </tr>
    </tbody>
</table>