<section>
    <div class="project-request">
        <div class="container">
            <div class="col-8">
                <div class="RequestForm">
                    <h2>Registrar entrada</h2>
                    <div class="Forms">
                        <form>

                            <div class="form-group">
                                <label for="TipoVehiculo">Tipo de vehiculo</label>
                                <select [(ngModel)]="tipovehiculo" class="form-control" id="TipoVehiculo" [ngModelOptions]="{standalone: true}">
                                    <option aria-readonly="true">Tipo de vehiculo</option>
                                    <option value="auto">Auto</option>
                                    <option value="moto">Moto</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="placa">Placa</label>
                                <input [(ngModel)]="placa" type="text" class="form-control" id="placa" placeholder="Ingresa el número de placa" required [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label for="cilindraje">Cilindraje</label>
                                <input [(ngModel)]="cilindraje" type="text" class="form-control" id="cilindraje" placeholder="Ingresa el número de placa" required [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label for="marca">marca</label>
                                <input [(ngModel)]="marca" type="text" class="form-control" id="marca" placeholder="Ingresa el número de placa" required [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label for="modelo">modelo</label>
                                <input [(ngModel)]="modelo" type="text" class="form-control" id="modelo" placeholder="Ingresa el número de placa" required [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <button type="button" (click)="registrarParqueo()" class="btn btn-success">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>